* {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    list-style: none;
}
html, body {
    min-width: 1200px;
    background-color: #eee;
}
/* 导航栏 */
.header {
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
}
/* top位置 */
.header .top {
    width:100%;
    height: 40px;
    background-color: #327ada;
}
.header .top .con-auto {
    width: 1200px;
    margin: 0 auto;
    line-height: 40px;
    color: #fff;
    padding: 0 28px;
}
.header .top .con-auto .left {
    float: left;
}
.header .top .con-auto .right {
    float: right;
    font-weight: 600;
}
.header .top .con-auto .right a {
    color: #fff;
}
/* 导航栏 */
.header nav {
    height: 100px;
    width: 100%;
    background: rgba(0, 0, 0, 0.4);
    position: fixed;
    left: 0px;
    top: 40px;
    z-index: 2;
    transition: height 1s linear;
}
.header nav .con {
    width: 1200px;
    margin: 0 auto;
}
.header nav .con .nav-ul li {
    padding:0 28px;
    transition: all .5s linear;
    cursor: pointer;
}
.header nav .con .nav-ul a{
    line-height: 100px;
    color: #fff;
    transition: line-height 1s linear;
    transition: color 0.5s linear;
}
.header nav .con .nav-ul li:hover {
    background:rgba(151, 146, 146, 0.6);
    border-bottom:1px solid orange;
}
.header nav .con .nav-ul li:hover a {
    color: #fa0;
}
/* nav-left */
.header nav .con .header-nav-left {
    height: 100%;
    float: left;
}
.header nav .con .header-nav-left li a {
    font-size: 20px;
}
/* nav-right */
.header nav .con .header-nav-right {
    height: 100%;
    float: right;
}
.header nav .con .header-nav-right li {
    float:left;
}
/* swiper */
.header .swiper {
    width: 100%;
    height: 800px;
}
.header .swiper-container {
    height: 100%;
    width: 100%;
}
.header .swiper-container .swiper-wrapper .swiper-slide {
    width: 100%;
    height: 100%;
}
.header .swiper-container .swiper-wrapper .swiper-slide img {
    width: 100%;
    height: 100%;
}
/* swiper btn */
.header .swiper-container .swiper-btn {
    margin: 0 50px;
    color: #fff
}
.header .swiper-container .swiper-pagination span{
    background-color:#f1f1f1;
    width: 10px;
    height: 10px;
    margin: 0 10px;
}
.header .swiper-container span.swiper-pagination-bullet-active {
    background-color: #ff5400;
    opacity: 0.7;
}
